In [ ]:
!pip install sqlalchemy==1.3.23

Collecting sqlalchemy==1.3.23
  Downloading SQLAlchemy-1.3.23.tar.gz (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 26.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.23-cp310-cp310-linux_x86_64.whl size=1250462 sha256=0028600d1bc4481b3ed18c10c5068dd626a544c47c71a48e91a28e54560c6004
  Stored in directory: /root/.cache/pip/wheels/6b/bd/5f/b63dc9976fc54a34ac2019fdbef4eb6a15aef4958298ce4b55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.29
    Uninstalling SQLAlchemy-2.0.29:
      Successfully uninstalled SQLAlchemy-2.0.29
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 1.0.0 requires sqlalchemy<3.0dev,>=1.4, but you have sqlalchemy 1.3.23 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.23 which is incompatible.
Successfully installed sqlalchemy-1.3.23

In [ ]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (1.3.23)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 17.0 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.23
    Uninstalling SQLAlchemy-1.3.23:
      Successfully uninstalled SQLAlchemy-1.3.23
Successfully installed sqlalchemy-2.0.29

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 12.1 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [ ]:
%load_ext sql

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite (nếu chưa có, nó sẽ tự động tạo mới)
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Tạo bảng Class
cur.execute('''CREATE TABLE Class (
                ClassId VARCHAR(8) NOT NULL PRIMARY KEY,
                ClassName NVARCHAR(64) NOT NULL
)''')

# Tạo bảng Student
cur.execute('''CREATE TABLE Student (
                StudentId VARCHAR(10) NOT NULL PRIMARY KEY,
                ClassId VARCHAR(8) NOT NULL,
                LastName NVARCHAR(32) NOT NULL,
                FirstName NVARCHAR(16) NOT NULL,
                Email VARCHAR(64) NOT NULL,
                Gender INTEGER NOT NULL,
                Score REAL NOT NULL,
                FOREIGN KEY (ClassId) REFERENCES Class(ClassId)
)''')
cur.execute('''CREATE TABLE TaiKhoan (
                UserName VARCHAR(10) NOT NULL PRIMARY KEY,
                Password VARCHAR(8) NOT NULL,
                StudentId VARCHAR(10) NOT NULL,
                FOREIGN KEY (StudentId) REFERENCES Student(StudentId)
)''')

# Lưu các thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Cơ sở dữ liệu và bảng đã được tạo thành công.")

Cơ sở dữ liệu và bảng đã được tạo thành công.

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Thêm dữ liệu vào bảng Class
cur.execute("INSERT INTO Class (ClassId, ClassName) VALUES (?, ?)", ('CNPM1', 'Công nghệ phần mềm 1'))
cur.execute("INSERT INTO Class (ClassId, ClassName) VALUES (?, ?)", ('CNPM2', 'Công nghệ phần mềm 2'))

# Thêm dữ liệu vào bảng Student
cur.execute("INSERT INTO Student (StudentId, ClassId, LastName, FirstName, Email, Gender, Score) VALUES (?, ?, ?, ?, ?, ?, ?)",
            ('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, '85'))
cur.execute("INSERT INTO Student (StudentId, ClassId, LastName, FirstName, Email, Gender, Score) VALUES (?, ?, ?, ?, ?, ?, ?)",
            ('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, '92'))

# Lưu các thay đổi
conn.commit()

# Đóng kết nối
conn.close()

print("Dữ liệu đã được thêm vào các bảng thành công.")

Dữ liệu đã được thêm vào các bảng thành công.

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Truy vấn dữ liệu từ bảng Class
cur.execute("SELECT * FROM Class")
class_data = cur.fetchall()

# In dữ liệu từ bảng Class
print("Dữ liệu từ bảng Class:")
for row in class_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM Student")
student_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng Student:")
for row in student_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM TaiKhoan")
taikhoan_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng tài khoản:")
for row in taikhoan_data:
    print(row)

# Đóng kết nối
conn.close()

Dữ liệu từ bảng Class:
('CNPM1', 'Công nghệ phần mềm 1')
('CNPM2', 'Công nghệ phần mềm 2')

Dữ liệu từ bảng Student:
('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, 85.0)
('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, 92.0)

Dữ liệu từ bảng tài khoản:

In [ ]:
import sqlite3
from blake3 import blake3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Thêm cột mới để lưu trữ dữ liệu gốc
#cur.execute('''ALTER TABLE Student ADD COLUMN RawEmail TEXT''')

# Nhập dữ liệu từ người dùng
student_id = input("Nhập mã sinh viên: ")
class_id = input("Nhập mã lớp học: ")
last_name = input("Nhập họ: ")
first_name = input("Nhập tên: ")
email = input("Nhập email: ")
gender = input("Nhập giới tính (1 - Nam, 0 - Nữ): ")
score = input("Nhập điểm: ")

cur.execute("INSERT INTO Student (StudentId, ClassId, LastName, FirstName, Email, Gender, Score) VALUES (?, ?, ?, ?, ?, ?,?)",
            (student_id, class_id, last_name, first_name, email, gender, score))


# Lưu các thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Dữ liệu đã được chèn vào bảng Student thành công.")

Nhập mã sinh viên: S003
Nhập mã lớp học: CNPM1
Nhập họ: Mai
Nhập tên: Nam
Nhập email: nam@gmail.com
Nhập giới tính (1 - Nam, 0 - Nữ): 1
Nhập điểm: 49
Dữ liệu đã được chèn vào bảng Student thành công.

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Truy vấn dữ liệu từ bảng Class
cur.execute("SELECT * FROM Class")
class_data = cur.fetchall()

# In dữ liệu từ bảng Class
print("Dữ liệu từ bảng Class:")
for row in class_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM Student")
student_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng Student:")
for row in student_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM TaiKhoan")
taikhoan_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng tài khoản:")
for row in taikhoan_data:
    print(row)

# Đóng kết nối
conn.close()

Dữ liệu từ bảng Class:
('CNPM1', 'Công nghệ phần mềm 1')
('CNPM2', 'Công nghệ phần mềm 2')

Dữ liệu từ bảng Student:
('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, 85.0)
('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, 92.0)
('S003', 'CNPM1', 'Mai', 'Nam', 'nam@gmail.com', 1, 49.0)

Dữ liệu từ bảng tài khoản:

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Nhập dữ liệu từ người dùng
class_id = input("Nhập mã lớp học: ")
class_name = input("Nhập tên lớp học: ")

# Tạo câu lệnh INSERT và thực thi
insert_class_sql = f"INSERT INTO Class (ClassId, ClassName) VALUES ('{class_id}', '{class_name}')"
cur.execute(insert_class_sql)

# Lưu các thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Dữ liệu đã được chèn vào bảng Class thành công.")

Nhập mã lớp học: CNPM3
Nhập tên lớp học: Công nghệ phần mềm 3
Dữ liệu đã được chèn vào bảng Class thành công.

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Truy vấn dữ liệu từ bảng Class
cur.execute("SELECT * FROM Class")
class_data = cur.fetchall()

# In dữ liệu từ bảng Class
print("Dữ liệu từ bảng Class:")
for row in class_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM Student")
student_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng Student:")
for row in student_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM TaiKhoan")
taikhoan_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng tài khoản:")
for row in taikhoan_data:
    print(row)

# Đóng kết nối
conn.close()

Dữ liệu từ bảng Class:
('CNPM1', 'Công nghệ phần mềm 1')
('CNPM2', 'Công nghệ phần mềm 2')
('CNPM3', 'Công nghệ phần mềm 3')

Dữ liệu từ bảng Student:
('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, 85.0)
('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, 92.0)
('S003', 'CNPM1', 'Mai', 'Nam', 'nam@gmail.com', 1, 49.0)

Dữ liệu từ bảng tài khoản:

In [ ]:
!pip install blake3

Requirement already satisfied: blake3 in /usr/local/lib/python3.10/dist-packages (0.4.1)

In [ ]:
import sqlite3
import blake3
import getpass

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')
cur = conn.cursor()

# Hàm băm mật khẩu bằng Blake3
def hash_password(password):
    return blake3.blake3(password.encode()).hexdigest()

while True:
    # Nhập dữ liệu từ bàn phím
    username = input("Nhập tên người dùng: ")
    password = getpass.getpass("Nhập mật khẩu: ")
    students = input("Nhập mã sinh viên")

    # Băm mật khẩu trước khi lưu vào cơ sở dữ liệu
    hashed_password = hash_password(password)

    # Chèn dữ liệu vào bảng TaiKhoan
    cur.execute("INSERT INTO TaiKhoan (UserName, Password,StudentId) VALUES (?, ?,?)", (username, hashed_password,students))

    # Lưu các thay đổi
    conn.commit()

    # Hỏi người dùng có muốn tạo tài khoản khác hay không
    tao_tiep = input("Bạn có muốn tạo tài khoản khác không? (c/k): ")
    if tao_tiep.lower() != 'c':
        break

# Đóng kết nối
conn.close()
print("Dữ liệu đã được lưu vào cơ sở dữ liệu thành công.")
print("Chương trình đã kết thúc.")

Nhập tên người dùng: thaoquyen
Nhập mật khẩu: 12345
Nhập mã sinh viênS001
Bạn có muốn tạo tài khoản khác không? (c/k): k
Dữ liệu đã được lưu vào cơ sở dữ liệu thành công.
Chương trình đã kết thúc.

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Truy vấn dữ liệu từ bảng Class
cur.execute("SELECT * FROM Class")
class_data = cur.fetchall()

# In dữ liệu từ bảng Class
print("Dữ liệu từ bảng Class:")
for row in class_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM Student")
student_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng Student:")
for row in student_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM TaiKhoan")
taikhoan_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng tài khoản:")
for row in taikhoan_data:
    print(row)

# Đóng kết nối
conn.close()

Dữ liệu từ bảng Class:
('CNPM1', 'Công nghệ phần mềm 1')
('CNPM2', 'Công nghệ phần mềm 2')
('CNPM3', 'Công nghệ phần mềm 3')

Dữ liệu từ bảng Student:
('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, 85.0)
('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, 92.0)
('S003', 'CNPM1', 'Mai', 'Nam', 'nam@gmail.com', 1, 49.0)

Dữ liệu từ bảng tài khoản:
('thaoquyen', '86f2d80abe9c3f7b4a1a57a8d1130fa8dc08c81604833ce1212dc039b010d9e4', 'S001')

In [ ]:
import sqlite3
import blake3
import getpass


# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')
cur = conn.cursor()

# Hàm băm mật khẩu bằng Blake3
def hash_password(password):
    return blake3.blake3(password.encode()).hexdigest()

# Hàm xác minh tên người dùng và mật khẩu từ cơ sở dữ liệu
def authenticate(username, password):
    cur.execute("SELECT * FROM TaiKhoan WHERE UserName=? AND Password=?", (username, hash_password(password)))
    return cur.fetchone()

# Hàm truy vấn thông tin sinh viên từ cơ sở dữ liệu
def get_student_info(student_id):
    cur.execute("SELECT * FROM Student WHERE StudentId=?", (student_id,))
    return cur.fetchone()

# Đăng nhập
while True:
    username = input("Nhập tên người dùng: ")
    password = getpass.getpass("Nhập mật khẩu: ")

    user = authenticate(username, password)
    if user:
        print("Đăng nhập thành công!")
        student_id = user[2]  # Lấy mã sinh viên từ thông tin tài khoản đã đăng nhập
        student_info = get_student_info(student_id)
        print("Thông tin sinh viên:")
        print("Mã sinh viên:", student_info[0])
        print("Họ và tên đệm:", student_info[1])
        print("Tên:", student_info[2])
        print("Email:", student_info[3])
        print("Giới tính:", "Nam" if student_info[4] == 1 else "Nữ")
        print("Điểm:", student_info[5])
        break
    else:
        print("Tên người dùng hoặc mật khẩu không chính xác.")

# Đóng kết nối
conn.close()

Nhập tên người dùng: thaoquyen
Nhập mật khẩu: ··········
Đăng nhập thành công!
Thông tin sinh viên:
Mã sinh viên: S001
Họ và tên đệm: CNPM1
Tên: Nguyễn Lê Thảo
Email: Quyên
Giới tính: Nữ
Điểm: 0

In [ ]:
import sqlite3
import blake3
import smtplib
from email.mime.text import MIMEText
import random
import string
import getpass

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')
cur = conn.cursor()

# Hàm băm mật khẩu bằng Blake3
def hash_password(password):
    return blake3.blake3(password.encode()).hexdigest()
# Hàm tạo mã xác nhận ngẫu nhiên
def generate_confirmation_code(length=6):
    return ''.join(random.choices(string.ascii_letters + string.digits, k=length))

# Hàm xác minh tên người dùng và mật khẩu từ cơ sở dữ liệu
def authenticate(username, password):
    username = input("Nhập tên người dùng: ")
    cur.execute("SELECT * FROM TaiKhoan WHERE UserName=?", (username,))
    user = cur.fetchone()
    if user and user[2] == hash_password(password):
        return user
    return None

# Hàm lấy thông tin sinh viên từ cơ sở dữ liệu
def get_student_info(student_id):
    cur.execute("SELECT * FROM Student WHERE StudentId=?", (student_id,))
    return cur.fetchone()

# Hàm gửi email xác nhận
def send_confirmation_email(email, confirmation_code):
    sender_email = "thaoquyentqtq1204@gmail.com"  # Điền email của bạn
    sender_password = "tfgk cvbm pezk vsey"  # Điền mật khẩu của bạn

    msg = MIMEText(f"Your confirmation code is: {confirmation_code}")
    msg['Subject'] = 'Password reset confirmation code'
    msg['From'] = sender_email
    msg['To'] = email

    try:
        with smtplib.SMTP_SSL('smtp.gmail.com', 465) as smtp:
            smtp.login(sender_email, sender_password)
            smtp.send_message(msg)
        print("Mã xác nhận đã được gửi đến địa chỉ email của bạn.")
    except Exception as e:
        print("Đã xảy ra lỗi trong quá trình gửi email:", str(e))

# Hàm xác minh mã xác nhận
def verify_confirmation_code(entered_code, actual_code):
    return entered_code == actual_code

# Hàm cập nhật mật khẩu mới
def update_password(username, new_password):

    hashed_password = hash_password(new_password)
    cur.execute("UPDATE TaiKhoan SET Password=? WHERE UserName=?", (hashed_password, username))
    conn.commit()
    print("Mật khẩu đã được cập nhật thành công.")

# Đăng nhập hoặc yêu cầu mã xác nhận
while True:
    action = input("Bạn muốn đăng nhập (đ) hay yêu cầu mã xác nhận (m)? ")
    if action == 'đ':
        username = input("Nhập tên người dùng: ")
        password = getpass.getpass("Nhập mật khẩu: ")
        user = authenticate(username, password)
        if user:
            print("Đăng nhập thành công!")
            student_id = user[2]
            student_info = get_student_info(student_id)
            print("Thông tin sinh viên:")
            print("Mã sinh viên:", student_info[0])
            print("Họ và tên đệm:", student_info[1])
            print("Tên:", student_info[2])
            print("Email:", student_info[3])
            print("Giới tính:", "Nam" if student_info[4] == 1 else "Nữ")
            print("Điểm:", student_info[5])
            break
        else:
            print("Tên người dùng hoặc mật khẩu không chính xác.")
    elif action == 'm':
        username = input("Nhập tên tài khoản cần thay đổi")
        email = input("Nhập địa chỉ email của bạn: ")
        confirmation_code = generate_confirmation_code()  # Tạo mã xác nhận ở đây, bạn có thể tạo ngẫu nhiên
        send_confirmation_email(email, confirmation_code)
        entered_code = input("Nhập mã xác nhận từ email: ")
        if verify_confirmation_code(entered_code, confirmation_code):
            new_password = getpass.getpass("Nhập mật khẩu: ")
            update_password(username, new_password)
            print("Mật khẩu đã được thay đổi thành công.")
            break
        else:
            print("Mã xác nhận không chính xác.")
    else:
        print("Lựa chọn không hợp lệ.")

# Đóng kết nối
conn.close()

Bạn muốn đăng nhập (đ) hay yêu cầu mã xác nhận (m)? m
Nhập tên tài khoản cần thay đổithaoquyen
Nhập địa chỉ email của bạn: thaoquyentqtq1204@gmail.com
Mã xác nhận đã được gửi đến địa chỉ email của bạn.
Nhập mã xác nhận từ email: fhoZPv
Nhập mật khẩu mới: nnnn
Mật khẩu đã được cập nhật thành công.
Mật khẩu đã được thay đổi thành công.

In [ ]:
import sqlite3
import blake3
import getpass

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')
cur = conn.cursor()

# Hàm băm mật khẩu bằng Blake3
def hash_password(password):
    return blake3.blake3(password.encode()).hexdigest()

# Hàm xác minh tên người dùng và mật khẩu từ cơ sở dữ liệu
def authenticate(username, password):
    cur.execute("SELECT * FROM TaiKhoan WHERE UserName=? AND Password=?", (username, hash_password(password)))
    return cur.fetchone()

# Hàm truy vấn thông tin sinh viên từ cơ sở dữ liệu
def get_student_info(student_id):
    cur.execute("SELECT * FROM Student WHERE StudentId=?", (student_id,))
    return cur.fetchone()

# Đăng nhập
while True:
    username = input("Nhập tên người dùng: ")
    password = getpass.getpass("Nhập mật khẩu: ")

    user = authenticate(username, password)
    if user:
        print("Đăng nhập thành công!")
        student_id = user[2]  # Lấy mã sinh viên từ thông tin tài khoản đã đăng nhập
        student_info = get_student_info(student_id)
        print("Thông tin sinh viên:")
        print("Mã sinh viên:", student_info[0])
        print("Họ và tên đệm:", student_info[1])
        print("Tên:", student_info[2])
        print("Email:", student_info[3])
        print("Giới tính:", "Nam" if student_info[4] == 1 else "Nữ")
        print("Điểm:", student_info[5])
        break
    else:
        print("Tên người dùng hoặc mật khẩu không chính xác.")

# Đóng kết nối
conn.close()

Nhập tên người dùng: thaoquyen
Nhập mật khẩu: nnnn
Đăng nhập thành công!
Thông tin sinh viên:
Mã sinh viên: S001
Họ và tên đệm: CNPM1
Tên: Nguyễn Lê Thảo
Email: Quyên
Giới tính: Nữ
Điểm: 0

In [ ]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect('/content/drive/MyDrive/db/Blake3.db')

# Tạo con trỏ đến cơ sở dữ liệu
cur = conn.cursor()

# Truy vấn dữ liệu từ bảng Class
cur.execute("SELECT * FROM Class")
class_data = cur.fetchall()

# In dữ liệu từ bảng Class
print("Dữ liệu từ bảng Class:")
for row in class_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM Student")
student_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng Student:")
for row in student_data:
    print(row)

# Truy vấn dữ liệu từ bảng Student
cur.execute("SELECT * FROM TaiKhoan")
taikhoan_data = cur.fetchall()

# In dữ liệu từ bảng Student
print("\nDữ liệu từ bảng tài khoản:")
for row in taikhoan_data:
    print(row)

# Đóng kết nối
conn.close()

Dữ liệu từ bảng Class:
('CNPM1', 'Công nghệ phần mềm 1')
('CNPM2', 'Công nghệ phần mềm 2')
('CNPM3', 'Công nghệ phần mềm 3')

Dữ liệu từ bảng Student:
('S001', 'CNPM1', 'Nguyễn Lê Thảo', 'Quyên', 'quyen@gmail.com', 0, 85.0)
('S002', 'CNPM2', 'Nguyễn Lê Thảo', 'MiChu', 'michu@example.com', 0, 92.0)
('S003', 'CNPM1', 'Mai', 'Nam', 'nam@gmail.com', 1, 49.0)

Dữ liệu từ bảng tài khoản:
('thaoquyen', '5fefc184d3f09a624d6648f43dec51099d3e42536b426f507ac98c32076bb838', 'S001')

In [ ]:
!pip install pyblake2

Collecting pyblake2
  Downloading pyblake2-1.1.2.tar.gz (126 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.7/126.7 kB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyblake2
  Building wheel for pyblake2 (setup.py) ... done
  Created wheel for pyblake2: filename=pyblake2-1.1.2-cp310-cp310-linux_x86_64.whl size=76710 sha256=1fb887ecffae0bd29202c88ac1f9851617bec78d94888563e43bb90e89f199df
  Stored in directory: /root/.cache/pip/wheels/de/b1/a4/bcfd8c6d049279083d0ef58e7750ec7a63a16511bc24544d8b
Successfully built pyblake2
Installing collected packages: pyblake2
Successfully installed pyblake2-1.1.2

In [ ]:
import blake3
import pyblake2

def hash_blake(input_string, algorithm):
    if algorithm == 'blake2':
        return pyblake2.blake2s(input_string.encode()).hexdigest()
    elif algorithm == 'blake3':
        return blake3.blake3(input_string.encode()).hexdigest()  # Sử dụng hàm blake3_hash()
    else:
        return "Invalid algorithm"

# Nhập chuỗi cần băm và thuật toán từ người dùng
input_string = input("Nhập chuỗi cần băm: ")

# Băm chuỗi với thuật toán blake2
hashed_value_blake2 = hash_blake(input_string, 'blake2')

# Băm chuỗi với thuật toán blake3
hashed_value_blake3 = hash_blake(input_string, 'blake3')

# In ra kết quả
print(f"Blake2 hash của '{input_string}': {hashed_value_blake2}")
print(f"Blake3 hash của '{input_string}': {hashed_value_blake3}")

Nhập chuỗi cần băm: nnnn
Blake2 hash của 'nnnn': 259719c9a78f0577d9bc957713bdc72410cd66b10a6c5685bbe1e5de85798c31
Blake3 hash của 'nnnn': 5fefc184d3f09a624d6648f43dec51099d3e42536b426f507ac98c32076bb838